using System;
using System.ComponentModel.DataAnnotations;

namespace Rocket.Model
{
    public class Active
    {
        [Key]
        public int ID { get; set; }

@foreach(var d in Model.ColumnList){
        WriteLiteral("/// <summary>");
        WriteLiteral("/// "+@d.Node);
        WriteLiteral("/// </summary>
        WriteLiteral("public "+Model.GetDBType(d,1)+" "+@d.Name+" { get; set; }
}
    }
}