@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="open layui-btn right">添加</button>
<div id="test" lay-filter="demo"></div>

<script type="text/html" id="barDemo">
    @*<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>*@
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    @section script{
    $('.open').click(function() {
        layer.open({
            type: 2,
            title: '@ViewData["title"]',
            shadeClose: true,
            shade: 0.6,
            maxmin: true, //开启最大化最小化按钮
            area: ['80%', '90%'],
            content: '/erp_account/AddView'
        });
    })

        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '/erp_account/GetDataList/'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
{ field:'ID',title:'ID' },{ field:'Account',title:'Account' },{ field:'Password',title:'Password' },{ field:'RoleID',title:'RoleID' },                { fixed: 'right', align: 'center', toolbar: '#barDemo', title: '操作' }
            ]]
    });

        //监听工具条
        table.on('tool(demo)', function (obj) {
             
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax( {
                        type: "POST",
                        url: "/erp_account/Delete",
                        data: { id: data.id},
                        dataType: "json",
                        success: function (data) {
                            obj.del();
                        }
                    });

                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

    }
</script>

